@import "/src/ColorPalette.css";

.side_tab_bar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--primary);
    height: 100%;
    z-index: -1;
}

.side_tab_bar ul {
    list-style-type: none;
    align-content: stretch;
    padding: 0;
}

.side_tab_bar a {
    color: white;
    padding: 16px;
    text-decoration: none;
}

.side_tab_bar a.active {
    background-color: var(--accent);
    color: white;
}

.side_tab_bar a:hover {
    background-color: var(--accent);
    color: white;
}

.side_tab_content {

    background-color: green;
    z-index: 10;
}

@media screen and (min-width: 701px) {
    .side_tab_bar {
        position: fixed;
        overflow: auto;
    }
    .side_tab_bar a{
        display: block;
    }

}

@media screen and (max-width: 700px) {
    .side_tab_bar {
        width: 100%;
    }

    .side_tab_bar a {
        float: left;
        display: block;
    }

    .side_tab_content {
       width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .side_tab_bar a {
        text-align: center;
        float: none;
    }
    .side_tab_bar li{
        display: list-item;
    }
}
