
@import "../../ColorPalette.css";

.infoindicators {
    display: block;
    overflow: hidden;
}

.circleprogbar {
    width: 75px;
    height: 75px;
    float: left;
}

.round_container{
    width: 50%;
    background-color: var(--second);
    border-radius: 20px;
    float: left;
}

.round_container text {
    display: block;
}

.round_container .info_text {
    margin-left: 75px;
}

@media screen and (max-width: 400px) {
    .round_container{
        width: 100%;
    }

}

.console {
    width: 90%;
    background-color: var(--second);
    overflow: auto;
    height: 300px;
    border: 2px solid black;
    margin: 10px auto;
    text-align: left;
    border-radius: 20px;
    padding: 10px;
    white-space: pre;
    font-family: monospace;
}

