
.navbar{
    background-color: #23272a;
    overflow: hidden;
}
.navbar a{
    text-decoration: None;
    color: white;
    padding: 10px;
    float: left;
    text-align: center;
    display: block;
}

.navbar a:hover{
    background-color: #6495ed;
}

.navbar li{
    display: inline;
    align-content: stretch;
}
.navbar ul{
    display: inline;
    align-content: stretch;
}

@media screen and (max-width: 600px) {
    .navbar {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
