@import "../ColorPalette.css";

.navbar {
    background-color: var(--second);
    width: 100%;
    overflow: auto;
    padding: 10px 0;
}

.navbar a, Link {
    text-decoration: None;
    color: white;
    padding: 10px;
}

.navbar li, ul {
    list-style-type: none;
    display: inline;
}

.navbar a:hover {
    background-color: var(--accent);
}


.navbar a.active {
    background-color: var(--accent);
}

@media screen and (min-width: 601px) {
    .navbar li {
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .navbar li {
        width: 25%;
    }

    .navbar text {
        display: none;
    }

}

