
.create_options {
    background-color: var(--second);
    width: 100%;
    border-radius: 10px;
}

.row input[type=text] {
    width: 100%;
}

.option_row {
    width: 47%;
    float: left;
}

.max_width {
    width: 100%;
}

@media screen and (max-width: 750px) {
    .row input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    label {
        float: none;
    }
    .create_options {
        width: 100%;
    }
    .option_row {
        width: 100%;
        float: left;
    }

}

